# =========================================================
# PYTHON CPYTHON FILES
# =========================================================
*.cpython-*
*.so

# =========================================================
# NODE MODULES (ALL LEVELS)
# =========================================================
node_modules/
**/node_modules/

# =========================================================
# PYTHON CACHE
# =========================================================
__pycache__/
*.pyc
*.pyo
*.pyd